@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  position: relative;
  min-height: 100vh;
}
/*form validation*/
input+p{
  color: orange;
  opacity: 0;
  height: 0;
  margin-left: 3rem;
}
input.invalid + p{
   opacity: 1;
   height: auto;
   margin-bottom: 20px;
}